body{

    margin: 0px;

}

footer{

    bottom: 0;
    background-color: #8a211d;
    border-top: solid 15px #656565;
    position: fixed;
    width: 100%;
}

footer a{

    color: white;
    text-decoration: none;

}

footer p{

    color: white;
    float: right;
    font-weight: 400;
    padding-right: 20px;

}

header{

    background-color: #8a211d;
    border-bottom: solid 15px #656565;
    color: white;
    text-align: center;
    width: 100%;

}

h1{

    font-weight: 400;

}

img {

    width: 300px;
    height: 400px;

}

.card{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    transition: 0.3s;
    width: 100%;

}

.card:hover{

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.card-title{

    font-size: 24px;
    font-weight: bold;

}

.column{

    flex: 50%;

}

.contact{

    border-radius: 5px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: center;

}

.link{

    float: left;
    padding-left: 10px;

}

.surprise{

    background-color: black;
    color: white;
    border-color: 2px solid #8a211d;
    text-align: center;
    text-decoration: none;

}

.surprise a{

    color: white;
    text-decoration: none;

}

#hobbies{

    column-gap: 20px;
    display: flex;
    text-align: center;

}

#experience{

    column-gap: 20px;
    display: flex;
    text-align: center;

}

input[type=text], select, textarea{

    padding: 12px;
    border: 1px solid #656565;
    border-radius: 4px;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

input[type=submit]{

    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover{

    background-color: #8a211d;

}


